"*":
  "exception-reporting":
    userId: "cdec2291-b8f5-80c8-38d2-f9aad2ad1905"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    audioBeep: false

  editor:
    invisibles: {}
    tabLength: 2
    fontSize: 13
    softWrap: true
