"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    audioBeep: false
  editor:
    invisibles: {}
    tabLength: 2
    fontSize: 13
    softWrap: true
    softTabs: false
  "exception-reporting":
    userId: "641e57f7-71ad-3e89-7424-d0acd1db4782"
