# My keymap
# * To create a new keybinding: type "key" and hit tab

'atom-text-editor':
	'alt-ctrl-f3': 'markdown:paste-as-link-anders'
	'alt-ctrl-f4': 'custom:say-hi'








# ---------------------------------------------------------------------------------------
# commands and other stuff I might want to try out

# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
