# My keymap

'body':
	'shift-alt-ctrl-f5': 'window:reload'  # Remapping it from default shortcut key (already taken by another program)

'atom-text-editor':
	'alt-ctrl-f3': 'markdown:paste-as-link-anders'	# A little test – can get rid of it later
	'alt-ctrl-f4': 'voice:delete-tag'
	'alt-ctrl-f5': 'd3s:html-format-code'





# NOTE: looks like the shift-control keystrokes are not tied to anything right Now
# NOTE: looks like shift alt control Is open for business







# ---------------------------------------------------------------------------------------
# commands and other stuff I might want to try out

# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
