# My keymap
# * To create a new keybinding: type "key" and hit tab

'atom-text-editor':
	'alt-ctrl-f3': 'markdown:paste-as-link-anders'
	'alt-ctrl-f4': 'custom:say-hi'

# NOTE: looks like the shift-control keystrokes are not tied to anything right Now
# NOTE: looks like shift alt control Is open for business







# ---------------------------------------------------------------------------------------
# commands and other stuff I might want to try out

# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
