# My snippets
# NOTES:
#  * Create a new snippet in this file by typing "snip" and then hitting tab.
#  * If a snippet isn't working, redo the indentation – 90% of the time, that's the problem
#    If that doesn't do the trick, to make sure that the file has the right ending (e.g.,.html)

'*':
  'Snippet Name':
    'prefix': 'hello'
    'body': 'I work everywhere!'

'.source.coffee':
  'My Snippet':
    'prefix': 'my-snippet'
    'body':  """
    '$1':
      'prefix': '$2'
      'body': "$0"

    """
  'Fix Current Line':
      'prefix': 'fix-current-line'
      'body': """
      atom.commands.add 'atom-text-editor', 'voice:$1', ->
      # $1: $2
        fixCurrentLine ( (line) ->
          line.$0
        )
      """
  'Insert Text':
    'prefix': 'insert-text'
    'body': 'editor.insertText("$1")'


'.text.html':
      'test':
        'prefix': 'test'
        'body':  'Hi there, this is a test'


# NOTE: If I want to create python snippets, use .source.python
#       But first, check to make sure the python snippets don't come pre-installed
